// src/components/chat/ChatFooter.scss

.chat-footer {


  &__trigger-btn {
    width: 50px;
    height: 50px;
  }

  &__popover {
    width: 350px;
    max-width: 350px;

    .popover-header {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  &__messages-container {
    height: 290px;
    background-color: #f8f9fa;
  }

  &__message {
    max-width: 75%;
    hyphens: auto;
    word-wrap: break-word;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    &--outgoing {
      background-color: #198754;
      color: white;
    }

    &--incoming {
      background-color: white;
    }
  }

  &__conversation-item {
    &:hover {
      background-color: rgba(25, 135, 84, 0.1) !important;
      cursor: pointer;
    }

    &-title {
      color: #198754;
    }
  }

  .btn-outline-success {
    &:hover {
      background-color: #198754;
      border-color: #198754;
      color: white;
    }
  }
}