@import '../../utils/theme.scss';

.navbar {
  background-color: $primary;

  .navbar-toggler {
    border: none !important;
    box-shadow: none !important;
  }

  .navbar-brand {
  }

  .nav-link {


  }
}