@use '../../util/theme' as theme;

.navbar {
  background-color: theme.$primary;

  .navbar-toggler {
    border: none !important;
    box-shadow: none !important;
  }
}

.nav-link {
  color: white;
  padding: 0.75rem 1rem;
  font-weight: bold;
}
.sidebar {

  //override offcanvas closeing time
  &.offcanvas {
    transition: transform .5s ease-in-out !important; // Default is 0.3s
  }

  .offcanvas-header {
    background-color: theme.$primary;
    color: white;

    .btn-close {
      filter: brightness(0) invert(1);
      transition: transform 0.3s ease-in-out;
      box-shadow: none;

      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  .nav-link {
    color: #2C5530;
    padding: 0.75rem 1rem;
    font-weight: bold;

    &:hover {
      background-color: #F4F7F4;
    }
  }

}